body{
    font-weight: 500;
    font-size: 20px;  
    background-color: #FFFFFF;
}

.comptes{
    
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 101.5% ;
    padding-bottom: 10px;
    
   
}

.cmpt{
    background-color: #FFFFFF;
    width: 100%;
    height: 110vh;
   padding-left: 10%;
   overflow: auto;
   
}
.cmpt button{
    margin-top: 120px;
    width: 260px;
height: 70px;
box-shadow: 0px 4px 15.300000190734863px 1px #00000040;
border-radius: 90px ;
font-size: 22px;
font-weight: 500;
line-height: 26.82px;
}

.grid{
    background-color: #FFFFFF;
    width: 89%;   
    margin-top: 50px;
border: none ;
}

.grid button{
    width: 40px;
    height: 40px;
margin-left: 10px;
margin-bottom: 10PX;
}
.grid .MuiDataGrid-footerContainer{
    height: 10px;
    padding-bottom: 53px;
}
.grid img{
    margin-left: 10px;
    margin-top: 5%;
}
.grid img:hover{
    cursor: pointer;
}
.hdr{
    background-color: #01C7BE;
    color: #FFFFFF;
    text-align: center;
   
}
/*.css-t89xny-MuiDataGrid-columnHeaderTitle{
  margin-left: 5vh;
}
.css-1tu88dm-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainerContent {
  margin-left: -5vh;
}*/

.MuiDataGrid-row.Mui-odd {
    background-color: #EFECEC; 
    
  }
  
  .MuiDataGrid-row:nth-child(even){
    background-color: #EFECEC;
   
  }
 .MuiDataGrid-columnHeaders{
    background-color: #01C7BE;
  }
.MuiDataGrid-container--top .MuiDataGrid-filler{
    background: #01C7BE;

  }
  #etat{
font-size: 0.8em;
font-weight: 600;
line-height: 40px;
text-align: center;
  }
 
  
  .css-128fb87-MuiDataGrid-toolbarContainer button{

width:23%;
color:#01C7BE;
margin-top: -10px   ;
  
  }
  .bce{
    margin-top: 100px;
  }
  .lf span{
    font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 38.73px;
letter-spacing: -0.15399999916553497px;
text-align: left;
color: #000000;
  }
  .bce h1{
    font-family: Inter;
font-size: 64px;
font-weight: 700;
line-height: 77.45px;
letter-spacing: -0.15399999916553497px;
text-align: center;
color: #01C7BE;
  }
  .d1, .d2, .d3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 0px;
  }
  .rt{
    display: flex;
    flex-direction: column;
  }
  .rt input, .rt select{
    width: 688px;
height: 40px;
top: 431px;
left: 596px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
background: #F6F6F6;

  }
  hr{
    width:1132px ;
    border: 1px solid #838383
  }
  .bce{
    height: auto;
    width: 100%;
    margin-left: -250px;
    background-color: #FFFFFF;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    
  }
  .d4{
    margin-left: 10%;
  }
  .d5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 70px;
  }
 
  .d5 .rtr input{
    width: 413px;
height: 40px;
border-radius: 10px ;
border: 1px solid #D6D3D3;
box-shadow: 0px 4px 4px 0px #00000040;
margin-left: -20px;

  }
  .d5 span{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;

  }
  .rt1{
    display: flex;
    flex-direction: row;
  }

  .rtr , .rtf{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
  font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
margin-left: 65%;

}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 700px;
    width: 700px;
}



.sd2 .grid{
  margin-bottom: -80px;
}
.slct{
  font-family: Inter;
font-size: 25px;
font-weight: 400;
line-height: 38.73px;
text-align: center;
width: 118px;
height: 45px;
margin-top: 8%;
color: #000000;
background: #D9D9D9;

}
.normalLineHeight {
  line-height: normal;
}
.modal h2{
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48.41px;
  letter-spacing: -0.15399999916553497px;
  text-align: center;
  color: #01C7BE;
  
}
.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .cnr, .close-modal{
  width: 250px;
height: 70px;
background: #01C7BE;
font-family: Inter;
font-size: 27px;
font-weight: 600;
line-height: 38.73px;
letter-spacing: -0.15399999916553497px;
text-align: center;

}
.btnn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.send:hover, .send1:hover{
color: #01C7BE;
cursor: pointer;
}
.send1, .send2{
  margin-right: 10px;
}
.send2:hover{
 color: red;
 cursor: pointer;
}